<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<connectionStrings>
		<add name="DBConnection" 
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=
C:\VS_Projects\DS3\Laboratorio\RegistroCliente\RegistroCliente\Data\RegistroClientes.mdf;
Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<log4net configSource="log4net.config" />

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>

