<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Mi_HermosaDB_Para_Actividades_Ilegales"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\VS_Projects\DS3\Laboratorio\App_VentaTickets-Ilegal\DB-Ticketsilegales.mdf;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>